body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./image/back.jpg") no-repeat;
  width: 100vw;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
}
#amount {
  padding: 0.7rem 2rem;
  font-size: 1.6rem;
}
