body {
  margin: 0;
  font-family: "Edu SA Beginner", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./image/image.jpg") no-repeat;
  background-position: center 0%;
  background-size: cover;
  overflow-x: hidden;
}

code {
  font-family: "Edu SA Beginner", cursive;
}
