body {
  margin: 0;
  font-family: "Edu SA Beginner", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/one.jpg");
  background-size: cover;
  background-poistion: center;
  background-repeat: no-repeat;
  overflowx: hidden;
}

code {
  font-family: "Edu SA Beginner", cursive;
}
